  name: Trace-Log Sync
  on:
    pull_request:
      types: [closed]
      branches: [main]

  permissions: 
    id-token: write
    contents: read

  jobs:
    sync:
      if: github.event.pull_request.merged == true
      runs-on: ubuntu-latest
      steps:
        - name: Sync to Trace-Log
          uses: actions/github-script@v7
          with:
            script: |
            
              const id_token = await core.getIDToken("tracelog-api"); 

              const payload = {
                account: {
                  id: String(context.payload.repository.owner.id),
                  name: context.payload.repository.owner.login,
                  type: context.payload.repository.owner.type
                },
                project: {
                  id: String(context.payload.repository.id),
                  name: context.payload.repository.name,
                  url: context.payload.repository.html_url
                },
                hash: context.payload.pull_request.merge_commit_sha,
                author: {
                  id: String(context.payload.pull_request.user.id),
                  name: context.payload.pull_request.user.login,
                  avatarUrl: context.payload.pull_request.user.avatar_url
                },
                fullMessage: context.payload.pull_request.title,
                prNumber: context.payload.pull_request.number,
                files: []
              };

              const response = await fetch("${{ secrets.API_URL }}", {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': `Bearer ${id_token}`
                },
                body: JSON.stringify(payload)
              });

              if (!response.ok) {
                const error = await response.text();
                core.setFailed(`Sync failed: ${error}`);
              } else {
                core.info("Sync successful!");
              }
